.header {
    grid-area: h;
    background-color: #4cf6f6;
}

.header img {
    width: 50px;
    height: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock button{
    color: black;
    margin: 1rem;
}



