.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:white;
}

.dialogItems  {
    padding: 10px;
}

.dialogItems .activeLink{
    color: gold;
}

.messages {
    padding: 10px;
}

.dialogItem a {
    color: white;
    text-decoration: none;
}

.dialogItem a.activeLink {
    color: gold;
}

.dialogItem img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

